redis:
  raw_master:
    host: 127.0.0.1
    port: 6379
    db: 0
  raw_slave:
    host: 127.0.0.1
    port: 6379
    db: 0
  prepared_master:
    host: 127.0.0.1
    port: 6379
    db: 0
  prepared_slave:
    host: 127.0.0.1
    port: 6379
    db: 0
rabbitmq:
  host: localhost
  port: 5672
  user: guest
  password: guest
  vhost: /
  queues:
    mru: kandoo.mru
    lru: kandoo.lru
    canary_mru: kandoo.canary.mru
    canary_lru: kandoo.canary.lru
forecast:
  horizons: [30, 60, 90]
  min_history_points: 8
  max_history_points: 96
  city_ids: [1]
  service_types: [1, 2, 3, 5, 7]
cache_dir: cache
period_duration_minutes: 7.5
collect_duration_minutes: 5.5

