replicaCount: 1

image:
  repository: ghcr.io/ali-m07/pulsar
  tag: "latest"
  pullPolicy: IfNotPresent
  pullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80
  targetPort: 8088

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: pulsar.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 1Gi

affinity: {}
nodeSelector: {}
tolerations: []

config:
  path: /etc/pulsar/config.yaml
  contents: ""

command:
  - pulsar
args:
  - --config
  - /etc/pulsar/config.yaml
  - api
  - --host
  - 0.0.0.0
  - --port
  - "8088"

extraEnv: []
envFrom: []

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 30
  periodSeconds: 30

readinessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 10
  periodSeconds: 15

volumeMounts: []
volumes: []
